@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --headings-font: 'Poppins', sans-serif; /* 400 600 */
    --body-font: 'Open Sans', sans-serif; /* 400 */
    /* colors */
    --voilet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    min-height: 90vh;
    font-family: var(--body-font);
    background: url(./images/bg-mobile.svg), var(--voilet);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.logo-img {
    display: block;
    width: 140px;
    margin: 2rem 1rem 3rem;
}

.hero-img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 90%;
}

.texto {
    text-align: center;
    margin-top: 5rem;
    color: #fff;
    padding: 0px 1rem;
}

.title {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-family: var(--headings-font);
    line-height: 1.5;
}
 
.sub {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.6;
}

.btn {
    width: 80%;
    padding: 17px 40px;
    border-radius: 30px;
    color: var(--voilet);
    border: none;
    background-color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--soft-magenta);
    color: #fff;
}

.social {
    text-align: center;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 3rem;
}

.social i {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
}

.social i:hover {
    border: 1px solid var(--soft-magenta);
    color: var(--soft-magenta);
}

@media (min-width: 992px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        background-size: 92% 100%;
        background-repeat: no-repeat;
        background-position: left -1rem top 0rem;
        min-height: 100vh;
        max-width: 92%;
    }

    .logo-img {
        width: 230px;
        margin: 2rem 1rem 1rem;
    }

    .hero-container {
        display: grid;
        grid-template-columns: 55% 45%;
        gap: 3rem;
        min-height: 70vh;
        overflow: hidden;
        margin: 3rem 0rem 0rem; 
    }
    
    .hero-imagen {
        width: 100%;
    }

    .hero-img {
        width: 100%;
        max-width: 92%;
        padding-top: 2rem;
    }

    .texto {
        max-width: 80%;
    }

    .title {
        font-size: 5rem;
    }

    .sub {
        font-size: 1.8rem;
    }

    .texto {
        text-align: left;
    }

    .btn {
        margin-top: 1.8rem;
        width: 250px;
        padding: 19px 40px;
        margin-bottom: 0;
        display: block;
        font-size: 1.6rem;
    }

    .social {
        width: 95%;
        justify-content: flex-end;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .social i {
        font-size: 2.1rem;
    }
}



